<div class="mt-4">
<form method="GET" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Nhập từ khóa</label>
    <input type="text" name="q" class="form-control" id="searchinput" placeholder="Nhập từ khóa tìm kiếm...">
  </div>
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>